/**
 * Buttons
 **/

.fancy-btn {
	display: inline-block;
	padding: 1.25em 3.75em;
	font-weight: bold;
	background: $primary-color;
	color: white;
	transition: all 0.3s ease;
	text-decoration: none;
	text-transform: uppercase;
	&.primary {
		background: $primary-color;
	}
	&.secondary {
		background: $secondary-color;
	}
	&.clear {
		background: transparent;
		color: $primary-color;
		border: 1px solid $primary-color;
		&.white {
			color: $white;
			border: 4px solid $white;
		}
	}

	// hover states
	&:hover,
	&:focus,
	&:active {
		color: white;
		background: $primary-color-dark;
	}

	// active state - click
	&:active {
		color: white;
		background: darken($primary-color-dark, 10%);
	}
}

.modern-art-btn {
	position: relative;
	display: inline-block;
	padding: 1em 3.75em 1.65em;
	font-weight: bold;
	color: $primary-color;
	background-color: transparent;
	transition: all 0.3s ease;
	text-decoration: none;
	text-transform: uppercase;
	span {
		position: relative;
		z-index: 2;
	}
	&:before {
		content: "";
		position: absolute;
		z-index: 1;
		top: 0;
		bottom: 10px;
		left: 0;
		width: 15px;
		height: 70%;
		margin: auto 20px;
		background: $secondary-color;
		transition: all 0.3s ease;
	}
	&:after {
		content: "";
		position: absolute;
		z-index: 0;
		bottom: -5px;
		left: 0;
		width: 100%;
		height: 15px;
		background: $primary-color;
		z-index: -1;
		transition: all 0.3s ease;
	}
	&:hover {
		color: $white;
		&:before {
			width: 96%;
		}
		&:after {
			height: 90%;
		}
	}
}
